.employees-list {
  max-width: 1200px;
  margin: 20px auto;

  &--title {
    display: flex;
    align-items: center;

    h2,
    div {
      flex: 1;
    }

    button {
      padding: 5px 10px;
    }
  }

  &--employee {
    padding: 10px;

    &:hover {
      background-color: lighten(#00416a, 40%);
      cursor: pointer;
    }

    &.hl {
      background-color: #00416a;
      color: white;
    }
  }
}
