.employees-list {
  max-width: 1200px;
  margin: 20px auto;

  &--employee {
    padding: 10px;

    &:hover {
      background-color: lighten(#00416a, 40%);
      cursor: pointer;
    }

    &.hl {
      background-color: #00416a;
      color: white;
    }
  }
}
